<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
    {{nombre}}  
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-avatar>
    <img [src]="foto" />
  </ion-avatar>
  <ion-button (click)="logout()" >
    Desconectarse
  </ion-button>
  <ion-label>{{correo}} </ion-label>
  

  <ion-list *ngFor="let proyecto of proyectos" >

    <ion-item class="ion-no-border">
      <ion-avatar slot="start" (click)="abrirProyecto(proyecto)"
      class="ion-no-border">
        <ion-img [src]="proyecto.img"></ion-img>
      </ion-avatar>
      <ion-label (click)="abrirProyecto(proyecto)">
        <p>{{proyecto.nombre}}</p>
        <small>${{proyecto.presupuesto}}</small>
      </ion-label>
      <ion-label>
        <p> {{proyecto.subnombre}} </p>
        <small> {{proyecto.fecha_final}} </small>
      </ion-label>
    </ion-item>
    <ion-button (click)="eliminar(proyecto.id)" fill="clear">
      <ion-icon  name="trash-outline"></ion-icon>
    </ion-button>
    <ion-button  fill="clear" routerLink="/actualizar">
      <ion-icon  name="ellipsis-vertical-circle-outline"></ion-icon>
    </ion-button>

   </ion-list>

   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
     <ion-fab-button routerLink="/crear">
       <ion-icon name="add"></ion-icon>
     </ion-fab-button>
   </ion-fab>

   
</ion-content>